{
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "trailingComma": "none",
    "arrowParens": "avoid",
    "singleQuote": true,
    "printWidth": 150,
    "useTabs": false,
    "tabWidth": 3,
    "semi": false,
    "bracketSameLine": false,
    "htmlWhitespaceSensitivity": "strict",
    "proseWrap": "always",
    "jsxBracketSameLine": true,
    "importOrder": [
      "<THIRD_PARTY_MODULES>",
  
      "(.scss)$",
      "^src/styles/(.*)$",

      "^src/components/(.*)$",

      "^src/api/(.*)$",
      "^src/services/(.*)$",
      "^src/store/(.*)$",

      "^src/hook/(.*)$",

      "^src/types/(.*)$",
      "(.interface)(.*)$",
  
      "^../(.*)",
      "^./(.*)",
    
      "^react-icons",
      
      "^public/(.*)$"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
