.favorites {
  margin: 50px 0px;


  &__cards {
    transition: all .5s ease-in-out;
     display: flex;
     align-items: center;
     gap: 40px;
     flex-wrap: wrap;

     @media (max-width: 1010px) {
       justify-content: center;
     }
  }
}
