/*========== MAIN COLOR ==========*/

$colorText: #232323;
$background: #ffffff;

/*========== PAGE ==========*/

$containerWidth: 1800px;
$containerPadding: 30px;

$fontFamily: 'Roboto';
$fontSize: 14px;
